.simplecheckout {
    overflow:hidden;
    width:100%;
}
.simplecheckout-left-column {
    float:left;
    width:50%;
    margin-right:10px;
    min-width: 280px;
    max-width: 500px;
}
.simplecheckout-right-column {
    float:right;
    width:48%;
    min-width: 280px;
    max-width: 500px;
}
@media only screen and (max-width:768px) {
    .simplecheckout-left-column {
        display:block;
        width: 100%;
    }
    .simplecheckout-right-column {
        display:block;
        width: 100%;
    }
}
.simplecheckout-block {
    margin-bottom: 20px;
    clear: both;
}
.simplecheckout-block-heading {
	display: none;
    overflow:hidden;
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #DBDEE1;
    color: #555555;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 8px;
}
.simplecheckout-block-heading-button {
    float:right;
}
.simplecheckout-block-heading-button a {
    display:inline-block;
}
.simplecheckout-block-content {
    overflow:hidden;
    padding: 10px;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    overflow:hidden;
    margin-bottom: 10px;
    border: 1px solid #EEEEEE;
    padding: 10px;
}
.simpleregister-block-content .simplecheckout-customer {
    width: 50%;
}
@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
    text-align:right;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding:0;
    
}
.simplecheckout-methods-table td.quote {
    text-align: right;
    width: 15%;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 20px;
    overflow: auto;
    padding: 6px;
    text-align:right;
    clear: both;
	margin-top: -100px;
}
.simplecheckout-button-right {
    float: right;
    text-align: right;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-button {
display: inline-block;
text-decoration: none;
padding: 25px 68px 6px 12px;
cursor: pointer;
color: #FFFFFF;
line-height: 12px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
-webkit-border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-khtml-border-radius: 7px 7px 7px 7px;
border-radius: 7px 7px 7px 7px;
-webkit-box-shadow: 0px 2px 2px #DDDDDD;
-moz-box-shadow: 0px 2px 2px #DDDDDD;
box-shadow: 0px 2px 2px #DDDDDD;
width: 150px;
height: 30px;
background: #5FC710;
}
.simplecheckout-button:hover {
   background: #4aa009;
}

#simplecheckout_customer .simplecheckout-block-content {
    text-align: center;
	margin-top: 10px;
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-customer-block {
    overflow: hidden;
    padding: 5px;
}
.simplecheckout-company-header {
    font-weight:bold;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}


[type="radio"]:checked+label:before{
    border: 2px solid transparent;
    border-radius: 50%;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{

}
[type="radio"]+label:before, [type="radio"]+label:after{
    position: absolute; 
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
        background-color: #ffcc33;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after
{
    border: 2px solid #ffcc33;
}
.simplecheckout-customer-left {
    width: 30%;
    text-align: left;
    padding-right: 10px;
    padding:0;
}
.simplecheckout-customer-right {
    width: 68%;
    text-align: left;
    padding:0;
}
.simplecheckout-customer-right input[type=text],.simplecheckout-customer-right input[type=password],.simplecheckout-customer-right textarea,.simplecheckout-customer-right select {
    width: 83%;
}
.simplecheckout-customer-one-column {
    width: 98%;
    text-align: left;
    margin-bottom: 0px;
}
.simplecheckout-customer-two-column-left {
    width: 48%;
    text-align: left;
    margin-right: 20px;
    float: left;
    margin-bottom: 0px;
}
.simplecheckout-customer-two-column-right {
    width: 48%;
    text-align: left;
    float: left;
    margin-bottom: 0px;
}
@media only screen and (max-width:480px) {
.simplecheckout-customer-two-column-left {
    width: 48%;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 0px;
}
.simplecheckout-customer-two-column-right {
    width: 48%;
    text-align: left;
    margin-bottom: 0px;
}
.simple_table_row h3 {font-size: 16px;}
}
.simplecheckout-customer-type-select {
    text-align: left;
    margin-bottom: 10px;
}
.simplecheckout-customer-address {
    text-align: left;
    margin-bottom: 10px;
}
.simplecheckout-cart {
    width: 100%;
}
.simplecheckout-cart {
    border-collapse: collapse;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
    width: 100%;
}
.simplecheckout-cart col.image {
    width: 5%;
}
.simplecheckout-cart col.name {

}
.simplecheckout-cart col.model {
    width: 10%;
}
.simplecheckout-cart col.quantity {
    
}
.simplecheckout-cart col.price {
    width: 10%;
}
.simplecheckout-cart col.total {
    width: 10%;
}
.simplecheckout-cart col.remove {
    width: 1px;
}
.simplecheckout-cart th {
    border-top: 1px solid #DDDDDD;
}
.simplecheckout-cart th.image {
    text-align: center;
}
.simplecheckout-cart th.name {
    text-align: left;
}
.simplecheckout-cart th.model {
    text-align: left;
}
.simplecheckout-cart th.quantity {
    text-align: right;
}
.simplecheckout-cart th.price {
    text-align: right;
}
.simplecheckout-cart th.total {
    text-align: right;
}
.simplecheckout-cart th.remove {
    text-align: center;
    width: 1px;
}
.simplecheckout-cart td {
    vertical-align: top;
    padding: 7px;
}
.simplecheckout-cart td.image {
    text-align: center;
}
.simplecheckout-cart td.name {
    text-align: left;
	vertical-align:middle;
}
.simplecheckout-cart td.model {
    text-align: left;
}
.simplecheckout-cart td.quantity {
    vertical-align:middle;
    min-width:100px;
	text-align: center;
}
.simplecheckout-cart td.quantity input[type=text] {
	padding: 0;
	margin-top: -10px;
	vertical-align: middle;
	width: 43px;
	border: none;
	background: #fff;
	box-shadow: none;
	font-size: 30px;
	text-align: center;
	min-width: 10px !important;
	max-width: 47px !important;
}
.simplecheckout-cart td.quantity img {
    border: 0px;
    cursor:pointer;
    display:inline-block;
}
.simplecheckout-cart td.price {
    text-align: right;
	vertical-align: middle;
	color: #000;
	font-size: 24px;
}
.simplecheckout-cart td.total {
    text-align: right;
	vertical-align:middle;
	color:#5FC710;
	font-size:30px;
}
.simplecheckout-cart td.remove {
	vertical-align: middle;
    text-align: center;
    width: 1px;
    padding-left: 3px;
    padding-right: 3px;
}
.simplecheckout-cart span.product-warning {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-cart td.right {
    text-align: right;
    vertical-align: middle;
}
.simplecheckout-scroll{
    max-height:300px;
    overflow-y:scroll;
}
.simplecheckout-error-text {
    color: #FF0000;
    margin-top: -16px;
    display: block;
    font-size: 10px;
    position: absolute;
}
.simplecheckout-warning-text {
    font-weight: bold;
    margin: 5px 0;
}
.simplecheckout-warning-block {
    text-align: left;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    clear: both;
}
.simpleregister-warning-block {
    text-align: left;
    color: #555555;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
}
.simplecheckout-proceed-payment {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    display: none;
}
#simple_payment_address_block {
    margin-top: 15px;
}
.simplecheckout-customer-same-address {
    text-align: left;
}
#simplecheckout_login {
    padding:30px;
    margin: auto;
    text-align: center;
}
.simplecheckout-customer-same-address {
    margin: 15px 0px;
}
.simplecheckout-company {
    margin: 15px 0px 0px 0px;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
.simplecheckout-red-border {
    
}
#simple_login_layer {
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:99990;
    background-color:#000000;
    display:none;
}
#simple_login {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    -khtml-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    height:250px;
    overflow:hidden;
    padding:5px;
    position:fixed;
    width:300px;
    z-index:99991;
    display: none;
}    
#simple_login_header {
    text-align: right;
    padding: 0px 0px
}
.you-will-be-registered {
    font-weight: bold;
}
.simplecheckout-customer-right label input {
    margin-right:3px;
}

.__new_payment_accept_only_cod {
    color: #525a5f;
    font-size: 18px;
    text-align: center;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px 30px;
    margin-bottom: 30px;
}
.__new_delivery_only {
    margin-top: 20px;
}
@media screen and (max-width: 470px) {
    .__new_payment_accept_only_cod {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .__new_payment_accept_only_cod {
        padding:20px;
    }
}